{% extends 'base.html' %}
{% block title %}About Bumi{% endblock %}
{% block content %}
<h1>What is Bumi Health?</h1>
<p>Bumi Health is a service to help connect patients with doctors around the world for low cost medical procedures. We have a wide network of high quality physicians who will cater to your individual needs. We take care of everything--from initial consultations, trip booking, procedure overseeing, and follow-ups.</p>

<h1>How Does it Work?</h1>
<p>Simple. Browse our doctors today or call us to discuss your treatment needs and options. We'll walk you through the whole process from start to finish. You will be assigned a personalized BUMI Health representative to assist with any questions you might have.</p>

<h1>Is Bumi Health Safe?</h1>
<p>Each and every one of our doctors works at a JCI accredited and are committed to providing care of the utmost quality. We have personally interviewed and checked our physicians to ensure they meet every standard of BUMI Health care. You also speak to the doctor multiple times before committing to a procedure to build trust between doctor and patient.</p>

<h1>So what does Bumi mean?</h1>
<p>Bumi is the Sanskrit word for 'earth'</p>
<p>We believe that healthcare should be simplified, and the word Bumi reminds us to stay grounded. Forget about your insurance, and copay, and deductibles. You're with Bumi now.</p>
{% endblock %}