{% extends 'base.html' %}
{% block title %}Partnerships{% endblock %}
{% block content %}

<h1>Our Partners</h1>
<p>We partner with several hospital systems around the world. Our current locations include Seoul, Mumbai, and Tel Aviv.</p>

<h1>Interested in Partnering with Bumi?</h1>
<p>Great! A few things first--</p>
<br>
<p>You must be a physician or hospital manager in either South Korea, India, or Israel. Additionally, you must have a minimum of 10 years of experience, as well as JCI accreditation.</p>
<p>Still interested? Please write to rohan@bumi.com explaining your interest and our team will get back to you the same day.</p>

{% endblock %}